@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Suggestive.Web.Models.Requirements
@using Suggestive.Web.ViewModels.Requirements
@model TicketStatusViewModel

@{
    ViewData["Title"] = "Suggestive Requirements";
}
<h2>@ViewData["Title"]</h2>
<h4>This page shows the current progress of implementing the Suggestive requirements.</h4>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">@TicketStatus.ToDo.GetDisplayName()</div>
            <div class="panel-body">
                <ticket-list tickets="Model.ToDoTickets"></ticket-list>
            </div>
        </div>
    </div>
    <div class="col-lg-4">

        <div class="panel panel-warning">
            <div class="panel-heading">@TicketStatus.InProgress.GetDisplayName()</div>
            <div class="panel-body">
                    <ticket-list tickets="Model.InProgressTickets"></ticket-list>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">@TicketStatus.Complete.GetDisplayName()</div>
            <div class="panel-body">
                <ticket-list tickets="Model.CompletedTickets"></ticket-list>
            </div>
        </div>
    </div>
</div>

