<div ng-app="suggestive">
    <div ng-controller="suggestionController as vm">
        {{ vm.name }}
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/lib/angular.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://code.angularjs.org/1.5.7/angular.min.js"
                asp-fallback-src="~/lib/angular.min.js">
        
        </script>
    </environment>

    <script src="~/js/app.js"></script>
}