<div ng-app="app">
    <div ng-view></div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/lib/angular.min.js"></script>
        <script src="~/lib/angular-route.min.js"></script>
        <script src="~/js/app.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//code.angularjs.org/1.5.7/angular.min.js"
                asp-fallback-src="~/lib/angular.min.js">
        </script>
        <script src="//code.angularjs.org/1.5.7/angular-route.min.js"
                asp-fallback-src="~/lib/angular-route.min.js"></script>
        <script src="~/js/app.min.js"></script>
    </environment>

}