<div class="jumbotron">
    <div class="container">
        <div class="col-lg-2">
            <img src="~/images/biscuit.jpg" class="bottom" alt="biscuit"/>
        </div>
        <div class="col-lg-10">
            <h1> Suggestive</h1>
            <p class="lead">An application to allow the recording and prioritisation of user feedback requests.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Creating Feedback Items</h2>
        <ul>
            <li>Creating a feedback item</li>
            <li>Enter details of feedback item in a stand alone screen</li>
            <li>User must be authenticated to create an item</li>
            <li>Tags are user definable and can be selected</li>
            <li>All items given status of new</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>Voting</h2>
        <ul>
            <li>Each user gets 10 votes to be allocated.</li>
            <li>A user can assign 1,2 or 3 votes to a feedback item</li>
            <li>Once all the users votes are allocated they must un-allocate some of them to assign them to another item</li>
            <li>A user can modify their vote on an item at any point</li>
            <li>A user must be authenticated/logged in to vote</li>
        </ul>

    </div>

    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
</div>
